<!-- Starts cylinder detection with a lidar -->
<launch>
    <!-- Prints output messages to screen for all nodes -->
    <arg name="debug" default="false" />
    <arg name="display_image" default="false" />
    <arg name="depth_registration" default="false" />    
    <arg name="sensor" default="os1" />

    <!--
    <include file="$(find ouster_ros)/launch/lidar2.launch">
    -->
    <include file="$(find ouster_ros)/launch/lidar1.launch">

        <arg name="respawn" value="true" />
    </include>
    <node pkg="tf"
          type = "static_transform_publisher"
          name = "os1_broadcaster"
          args = "0.150 0.010 0.155 0 0 0 1 base_link os1 50" /> 
    
    <!-- Cylinder Detection Node -->
    <node pkg="grasping" name="cylinder_detection" type="cylinder_detection" respawn="true" output="screen">
        <remap from="/os1/depth/points" to="/os1_node1/points" />
        <param name="debug" value="$(arg debug)" />
        <param name="display_image" value="$(arg display_image)" />
        <param name="sensor" value="$(arg sensor)" />
        <param name="target_frame" value="base_link" />
        <param name="target_x" value="0.0" />
        <param name="target_y" value="1.0" />
        <param name="pointcloud_frame" value="os1" />
    </node>
</launch>
